<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0>"
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/style.css">
    <title>WEB CLAWER</title>
</head>
<body>
    <div id="wrapper">
        <div id="left">
            <div id="signin">
                <div class="logo">
                    <P>Web Clawer:<a href="/">Home</a></herf></P>
                </div>
                <form action="/search" method="post">
                    <div>
                        <label>Please enter target URL1</label>
                        <input name="url" type="text" class="text-input" />
                    </div>
                    <div>
                    <label>please enter key word</label>
                    <input name="keyword" type="keyword" class="text-input" />
                    </div>
                    
                    <button type="submit" class="primary-btn">Go</button>
                </form>
                
        </div>
    </div>
</body>
</html>